


/***** Multi Step Form *****/

.msf-container { padding-bottom: 80px; text-align: center; }

.msf-title h3 { padding-bottom: 10px; font-weight: 700; }
.msf-title p { opacity: 0.8; }

.msf-form h4 {
	margin-top: 20px;
	margin-bottom: 30px;
	font-weight: 700;
	line-height: 26px;
}
.msf-form h4 .step { color: #aaa; }

.msf-form form fieldset { display: none; overflow: hidden; }

.msf-form form textarea.form-control { width: 700px; height: 160px; }

/* .msf-form form select.form-control { width: 400px; margin-left: 5px; margin-right: 5px; } */

.msf-form form .form-group { margin-bottom: 15px; }

.msf-form form button.btn { min-width: 110px; margin-top: 15px; margin-left: 5px; margin-right: 5px; }

.msf-form form p { opacity: 0.8; }

.msf-form form .radio-buttons-1,
.msf-form form .radio-buttons-2,
.msf-form form .checkboxes-1,
.msf-form form .checkboxes-2 { display: inline-block; margin: 0 15px 20px 15px; }

.msf-form form .selects-1,
.msf-form form .selects-2 { display: inline-block; margin: 0 0 20px 0; }

#entreprise{
    display: none;
}
#particulier{
    display: none;
}
