<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
    <div class="row">
        <div class="col-xs-12">
            <div class="box" style="height: 100%;">
                <div class="box-header with-border">
                    <ul class="box-title">
                        <li>Lecteurs</li>
                    </ul>
                </div>
                <div class="box-body" id="">

                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-xs-12">
            <div class="box" style="height: 100%;">
                <div class="box-header with-border">
                    <ul class="box-title"  >
                        <li>Operateurs</li>
                    </ul>
                </div>
                <div class="box-body" id="lecteurs">

                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <div class="box" style="height: 100%;">
        <div class="box-header with-border">
            <ul class="box-title" id="receiver">
            </ul>
        </div>
        <div class="box-body">
            <div id="messages">

            </div>
        </div>
        <!-- /.box-body -->
    </div>
</div>
